<form method="POST" action="/callresttest">
    <label for="url">URL:</label>
    <input type="text" id="url" name="url"><br><br>
    <label for="token">API Key:</label>
    <input type="text" id="token" name="token"><br><br>
    <label for="name">body:</label>
    <input type="textarea" id="body" name="body"><br><br>
    <input type="submit" value="Submit">

</form>
