<form method="POST" action="/callresttest">
    <label for="api-key">API Key:</label>
    <input type="text" id="api-key" name="api-key"><br><br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="url">URL:</label>
    <input type="text" id="url" name="url"><br><br>
    <input type="submit" value="Submit">

</form>
