<!-- FILEPATH: /workspaces/rest-api-calls-template/restcallTemplate/views/getrestapi.ejs -->


<form action="/getrestapi" method="GET">
    <label for="url">URL:</label>
    <input type="text" id="url" name="url"><br>

    <label for="apikey">API Key:</label>
    <input type="text" id="apikey" name="apikey"><br>

    <input type="submit" value="Submit">
</form>
